@font-face {
  font-family: 'Open Sans';
  src: url("../lib/Anurati-Regular.otf") format("truetype"); }

body {
  font-variant: small-caps;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1rem;
  height: 100%;
  background-color: #fff;
  color: #fff; }
  body .bg-pan-left {
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(330deg, #d9003d, #d96517, #050f3a, #0eb1b4);
    background-size: 800% 800%;
    -webkit-animation: GradientFade 140s ease infinite;
    -moz-animation: GradientFade 140s ease infinite;
    animation: GradientFade 140s ease infinite; }

.container {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); }

.output {
  text-align: center;
  font-variant: small-caps;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  color: white; }
  .output h1 {
    font-size: 4vw; }

/* Cursor Styling */
.cursor::after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  background-color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite; }

h1.cursor::after {
  height: 24px;
  width: 13px; }

p.cursor::after {
  height: 13px;
  width: 6px; }

@keyframes blink {
  0% {
    opacity: 1; }
  49% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.centered {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .centered img {
    width: 100%; }

@-webkit-keyframes GradientFade {
  0% {
    background-position: 22% 0%; }
  50% {
    background-position: 79% 100%; }
  100% {
    background-position: 22% 0%; } }

@-moz-keyframes GradientFade {
  0% {
    background-position: 22% 0%; }
  50% {
    background-position: 79% 100%; }
  100% {
    background-position: 22% 0%; } }

@keyframes GradientFade {
  0% {
    background-position: 22% 0%; }
  50% {
    background-position: 79% 100%; }
  100% {
    background-position: 22% 0%; } }

#top, #bottom, #left, #right {
  background: #fafafa;
  position: fixed;
  z-index: 10; }

#left, #right {
  top: 0;
  bottom: 0;
  width: 5px; }

#left {
  left: 0; }

#right {
  right: 0; }

#top, #bottom {
  left: 0;
  right: 0;
  height: 5px; }

#top {
  top: 0; }

#bottom {
  bottom: 0; }

a {
  color: #fff;
  text-decoration: none; }
