$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(255, 102, 0);

@font-face{
    font-family: 'Open Sans';
    src: url('../lib/Anurati-Regular.otf')
    format('truetype');
}

@mixin easeOut {
    transition: all 0.3s ease-out;
}

body{
    font-variant: small-caps;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1rem;
    height: 100%;
    background-color: #fff;
    color: #fff;

    .bg-pan-left{
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        position: absolute;
        z-index: -10;
        top: 0;
        left: 0;
        overflow: hidden;

        background: linear-gradient(330deg, #d9003d, #d96517, #050f3a, #0eb1b4);
        background-size: 800% 800%;

        -webkit-animation: GradientFade 140s ease infinite;
        -moz-animation: GradientFade 140s ease infinite;
        animation: GradientFade 140s ease infinite;
    }
}


.container{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    h1{
        
        width: 100%;
        transform: translate(25%);
    }
    h2{
        width: 100%;
        transform: translate(25%);
    }
}

h1,h2 {
    color: #fff;
    letter-spacing: 0.2rem;
    font-weight: 200;
    margin: 0.4em 0;
  }
  h1 { font-size: 3vw; }
  h2 {
    color: #fff;
    font-size: 2em;
  }

.centered {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .biosLogo{
      width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto }


@-webkit-keyframes GradientFade {
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}
@-moz-keyframes GradientFade {
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}
@keyframes GradientFade { 
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}


#top, #bottom, #left, #right {
	background: #fff;
    position: fixed;
    z-index: 3;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 2px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 2px;
		}
		#top { top: 0; }
        #bottom { bottom: 0; }
        


a {
	color: #fff;
	text-decoration: none;
}


.icons{
    position: fixed;
    align-content: center;
    margin-top: 1rem;
    padding: 10px;
    bottom:0;
    a{
        padding: 0.4rem;
        transition: 0.3s;
        &:hover{
            color:$secondary-color;
        }
    }
    .icon{
        width: 3rem;
        align-content: center;
    }
}


.menu-btn{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut();


    .btn-line{
        
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut();
    }

    //Rotation X
    &.close{
        transform: rotate(180deg);

        .btn-line{
            //1-Rotate
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px); 
            }
            //2-Hide
            &:nth-child(2){
                opacity: 0;
            }
            //3-Rotate
            &:nth-child(3){
                transform: rotate(-45deg) translate(6.5px, -6px); 
            }
        }
    }
}

.menu{
    position: fixed;
    top:0;
    width: 100%;
    visibility: hidden;

    &.show{
        visibility: visible;
    }
}



.sidenav {
    right: 0;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: rgba((#050f3a), 0.5); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 3rem;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align: center;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {

    color: $secondary-color;

  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  
  
  

